examples/*
cord19kg/examples/*
tests/*
docs/*
build/*
dist/*
.pytest_cache/*
.tox/*
.eggs/*
*.egg-info/
*.ipynb_checkpoints/
*.DS_Store
bluegraph.egg-info/*
bluegraph/version.py
tests/data/*
__MACOSX/
build/
dist/
.pytest_cache
__pycache__
*/__pycache__
attri2vec_test_model.zip
neo4j_sage_embedder.zip
stellar_sage_embedder.zip
services/embedder/examples/*