*.egg-info/
build/
dist/
.pytest_cache
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
kganalytics/notebooks/data/gephi*
*.ipynb_checkpoints/
*.DS_Store
*_edge_list.pkl
*_node_list.pkl
cord19kg/examples/data/Glucose_risk_3000_papers.csv
cord19kg/examples/data/NCIT_ontology_linking.csv
cord19kg/examples/data/NCIT_ontology_linking_3000_papers.csv
cord19kg/examples/data/CORD_19_v47_occurrence_top_10000.json
cord19kg/examples/data/_MACOSX/*
cord19kg/examples/config/forge-config.yml
cord19kg/examples/models/neuroshapes/
cord19kg/examples/data/output_graphs/*